<h1>Individual Cats!!!!!</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.name  %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td> <%= @cat.birth_date %></td>
    <td><%= @cat.description %></td>

  </tr>
</table>