<h1>Individual Cats!!!!!</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.name  %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td> <%= @cat.birth_date %></td>
    <td><%= @cat.description %></td>

  </tr>
</table>

<h1> Rental Requests </h1>
<% if @cat.rental_requests.empty? %>
<p> <%= @cat.name %> has no rental requests </p>
<% else %>
  <table border = "1">
    <tr>
      <tr> Start Date</tr>
      <tr> End Date </tr>
      </tr> Status </tr>
    </tr>
    <tr>
    <td>
       <% @cat.rental_requests.each do |req| %>
           <%= req.start_date %>
            <%= " - " %>
            <%= req.end_date %>
            <%= req.status %>
            <br>
            <br>
          <% end %>
    </td>

  </tr>
  </table>
  <% end %>